/* .contains-all {
    max-width: 400px;
} */

.columns {
    display: flex;
    overflow-x: scroll;
    gap: 5%;
}

.board-column {
    min-width: 350px;
    min-height: 500px;
}

.columns-page {
    margin: 0;
    width: 100%;
}

.checkmark {
    width: 2em;
    margin-right: 1em;
}

.edit-img {
    width: 1.5em;
}

.edit-btn {
    display: inline-flex;
    justify-content: center;
    width: min-content;
    margin-left: 1em;
}
